/* Global selector (only used for seeing boxes) */
/* * {
    outline: 1px red dashed;
} */

.hero {
    padding: 5px 2px;
    align-items: stretch;
}

.title {
    text-shadow: 2px 2px 2px black;
}


