/* Global selector (only used for seeing boxes) */
/* * {
    outline: 1px red dashed;
} */

.hero {
    padding: 5px 2px;
    align-items: stretch;
}

.title,
#search-form > .label {
    text-shadow: 2px 2px 2px black;
}

#dogs-img{
    max-width: 100%;
}

figcaption {
    text-align:center;
    font-size: 30px;
}

#dogImage {
    display: block;
    width: 100%;
    height: auto;
}
#cryingDog {
    display: block;
    width: 50%;
    height: auto;
}
#breedName {
    text-transform: capitalize;
    font-size: 30px;
    padding-bottom: 10px;
}